flows.json
[{"id":"3f6b66d4.18f64a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9231313d.f6721","type":"debug","z":"3f6b66d4.18f64a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"11ce16d9.a40319","type":"function","z":"3f6b66d4.18f64a","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["9231313d.f6721","5669225a.966b7c"]]},{"id":"a10cda46.466bd8","type":"function","z":"3f6b66d4.18f64a","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":200,"wires":[["9231313d.f6721","8f64172c.497478"]]},{"id":"1ab3c385.e88dec","type":"ui_button","z":"3f6b66d4.18f64a","name":"sprinkler off","group":"ff02fdd1.1db81","order":3,"width":0,"height":0,"passthru":false,"label":"sprikler on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"sprinkler on\"}","payloadType":"json","topic":"","x":190,"y":460,"wires":[["e7202d54.52194","5a4a5919.8c29b8"]]},{"id":"5b1c3281.e8c04c","type":"ui_button","z":"3f6b66d4.18f64a","name":"sprinkler on","group":"ff02fdd1.1db81","order":4,"width":0,"height":0,"passthru":false,"label":"sprinkler off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"sprinkler off\"}","payloadType":"json","topic":"","x":170,"y":540,"wires":[["e7202d54.52194","5a4a5919.8c29b8"]]},{"id":"42ec6ee2.ccef4","type":"ibmiot in","z":"3f6b66d4.18f64a","authentication":"apiKey","apiKey":"f8be7162.1f1e7","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"19990","applicationId":"","deviceType":"varsh","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["11ce16d9.a40319","a10cda46.466bd8"]]},{"id":"5669225a.966b7c","type":"ui_gauge","z":"3f6b66d4.18f64a","name":"","group":"ff02fdd1.1db81","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":60,"wires":[]},{"id":"8f64172c.497478","type":"ui_gauge","z":"3f6b66d4.18f64a","name":"","group":"ff02fdd1.1db81","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":220,"wires":[]},{"id":"e7202d54.52194","type":"debug","z":"3f6b66d4.18f64a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":460,"wires":[]},{"id":"9fba7f7c.0d859","type":"function","z":"3f6b66d4.18f64a","name":"data","func":"msg.payload={'Temperature':global.get(\"temperature\"),\n             'Humidity':global.get(\"humidity\")};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":280,"wires":[["9190b7a3.13ff88"]]},{"id":"ac9fb963.991528","type":"http in","z":"3f6b66d4.18f64a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["9fba7f7c.0d859"]]},{"id":"9190b7a3.13ff88","type":"http response","z":"3f6b66d4.18f64a","name":"","statusCode":"","headers":{},"x":590,"y":280,"wires":[]},{"id":"61748b44.d52d74","type":"http in","z":"3f6b66d4.18f64a","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["f7b58996.a99668"]]},{"id":"f7b58996.a99668","type":"function","z":"3f6b66d4.18f64a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["fe44a88b.1e6208","c5cc7dca.94f58","5a4a5919.8c29b8"]]},{"id":"fe44a88b.1e6208","type":"http response","z":"3f6b66d4.18f64a","name":"","statusCode":"","headers":{},"x":630,"y":340,"wires":[]},{"id":"c5cc7dca.94f58","type":"debug","z":"3f6b66d4.18f64a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]},{"id":"5a4a5919.8c29b8","type":"ibmiot out","z":"3f6b66d4.18f64a","authentication":"apiKey","apiKey":"f8be7162.1f1e7","outputType":"cmd","deviceId":"19990","deviceType":"varsh","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":540,"wires":[]},{"id":"138cacfd.e41563","type":"inject","z":"3f6b66d4.18f64a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[["5669225a.966b7c"]]},{"id":"ff02fdd1.1db81","type":"ui_group","z":"","name":"Default","tab":"14264ab3.d60ee5","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8be7162.1f1e7","type":"ibmiot","z":"","name":"ok","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"14264ab3.d60ee5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]